[Unit]
Description=growth environmental control service
After=network.target

[Service]
ExecStart=/home/pi/growth/startup_script.sh
Restart=on-failure
RestartSec=10
KillMode=process
StandardOutput=inherit
StandardError=inherit
User=pi
WorkingDirectory=/home/pi/growth

[Install]
WantedBy=multi-user.target