div.text-center.text-muted.mb-4
  //- p Created by Benjamin Steele, 2020
  div.row.justify-content-sm-center
    div.col-sm-auto
      br
      a.website-link.link(href="http://www.github.com/Ipswich/growth") Github
      span.website-text-light &nbsp;&nbsp;-&nbsp;&nbsp;
      a.website-link.link(href="#") Settings