extends layout

block content
  h1 #{title}
  br
  div.nav-container
    ul(id="pills-tab" role="tablist").nav.nav-pills
      li.nav-item
          a(id="nav-current-conditions" data-toggle="pill" href="#current-conditions" role="tab" aria-controls="current-conditions" aria-selected="true").nav-pill.nav-link.active Current Conditions
      li.nav-item
          a(id="nav-schedule" data-toggle="pill" href="#schedule" role="tab" aria-controls="schedule" aria-selected="false").nav-pill.nav-link Schedule
  br
  div(id="pills-tabContent").tab-content
    div(id="current-conditions" role="tabpanel" arealabelledby="nav-current-conditions").tab-pane.fade.show.active
      include ./currentConditions.pug
    div(id="schedule" role="tabpanel" arealabelledby="nav-schedule").tab-pane.fade
      include ./schedules.pug
      
  include ./addEvent.pug                  
  include ./updateEvent.pug  
    
