doctype html
html(lang="en" class="no-js")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Raspberry pi driven grow room")
    meta(name="author" content="Benjamin Steele")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/fontawesome.min.css')
    link(rel='stylesheet', href='/css/solid.min.css')
    link(rel='stylesheet', href='/css/tempusdominus-bootstrap-4.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')   
    script(src='/js/modernizr-custom.js')
    script(src='/js/jquery.slim.min.js')
    script(src='/js/moment.min.js')
    script(src='/js/tempusdominus-bootstrap-4.min.js')
  body
    div#body
      block content
      br
      hr
      include ./footer.pug
    script(src='/js/popper.min.js')
    script(src='/js/bootstrap.min.js')  
