extends layout

block content
  div
    h1 #{web_data.title}
  hr
  div
    if new_user == 1
      include ./settings/settings_newUser.pug
    else 
      if authenticated == 0
        include ./settings/authentication.pug
      else
        include ./settings/settings_main.pug