div
  form(id="eventUpdateForm" method="POST")
    if schedule.scheduleType == 'Time'    
      include ./updateEventMetaTime.pug
    else
      include ./updateEventMetaSensor.pug
                    
    div.form-group   
      div.form-row
        div.col-5
          label(for="username") Username
          input(type="text" name="username" required).form-control.formStyle
        div.col
          label(for="password") Password
          input(type="password" name="password" required).form-control.formStyle
    div.form-group
      div.form-row
        div.col
          button(id="UpdateDeleteButton" name="UpdateDelete" type="submit").btn.float-left.submitButton Delete
          button(id="UpdateUpdateButton" name="UpdateUpdate" type="submit").btn.float-right.submitButton Update
