div
  form(id="UpdateForm" method="POST")
    input(type="hidden" id="UpdateScheduleID" name="UpdateScheduleID" value=schedule.scheduleID)
    input(type="hidden" id="UpdateMode" name="UpdateMode" value='')
    if schedule.scheduleType == 'Time'    
      include ./updateEventMetaTime.pug
    else if schedule.scheduleType == 'Sensor'
      include ./updateEventMetaSensor.pug
    else if schedule.scheduleType == 'Periodic'
      include ./updateEventMetaPeriodic.pug

      
    unless authenticated              
      div.form-group   
        div.form-row
          div.col-5
            label(for="username") Username
            input(type="text" name="username" required).form-control.formStyle
          div.col
            label(for="password") Password
            input(type="password" name="password" required).form-control.formStyle
  
    div.form-group
      div.form-row
        div.col          
          button(id="UpdateDeleteButton" name="UpdateDelete" onclick="setDelete()" type="submit").btn.float-left.submitButton Delete
          button(id="UpdateUpdateButton" name="UpdateUpdate" onclick="setUpdate()" type="submit").btn.float-right.submitButton Update


script.

  $().ready(function(){
    updateForm()
    //- outputValueHider('#UpdateOutput', '#UpdateOutputValueDiv')
    //- eventValueHider('#UpdateOutput', '#UpdateEvent', '#UpdateOutputValueDiv')
    valueHider('#UpdateOutput', '#UpdateEvent', '#UpdateOutputValueDiv')
    outputHider('#UpdateEvent', '#UpdateOutputDiv', '#UpdateWarnDiv', false)
  })
  
  
