[Unit]
Description=growth environmental control service
After=network.target
After=mysqld.service
After=mysql.service
StartLimitIntervalSec=0

[Service]
ExecStart=/home/pi/growth/startup/startup_script.sh
Restart=always
RestartSec=1
KillMode=process
StandardOutput=inherit
StandardError=inherit
User=pi
WorkingDirectory=/home/pi/growth

[Install]
WantedBy=multi-user.target