:root {
  --website-bg-normal: hsl(222, 11%, 18%);
  --website-bg-almost-light: hsl(222, 11%, 23%);
  --website-bg-light: hsl(222, 11%, 24%);
  --website-bg-lighter: hsl(222, 11%, 28%);
  --website-text-normal: hsl(0, 58%, 55%);
  --website-text-light: hsl(0, 19%, 58%);
  --website-text-dark: hsl(0, 58%, 45%);
  --website-text-green: hsl(125, 40%, 45%);
  --website-text-blue: hsl(210, 58%, 50%);
}

.green {
  color: var(--website-text-green);
}

.blue {
  color: var(--website-text-blue);
}

.website-text-light {
  color: var(--website-text-light);
}

.nav-pill {
  color: var(--website-text-dark);
  background-color: var(--website-bg-almost-light);
}

.nav-pill:hover {
  color: var(--website-text-dark);
  background-color: var(--website-bg-lighter);
}

.nav-container .nav-pill.active {
  color: var(--website-text-normal);
  background-color: var(--website-bg-lighter);
}

#body {
  text-align: center;
    padding: 20px;
}

#data-list {
  color: var(--website-text-normal);
}

#data-list-header {
  color: var(--website-text-normal);
  background-color:var(--website-bg-light);
  text-align: center;
  border: none;
}

#manual-list {
  color: var(--website-text-normal);
}

#manual-list-header {
  color: var(--website-text-normal);
  background-color:var(--website-bg-light);
  text-align: center;
  border: none;
}

.data-list-group.list-group-item {
  background-color:var(--website-bg-light);
  text-align: left;
  color: var(--website-text-normal);
  font-weight: bold;
  text-decoration: underline;
  border: none;
}

.data-list-group.list-group-subitem {
  background-color:var(--website-bg-light);
  text-align: left;
  color: var(--website-text-normal);
  font-weight: bold;
  border: none;
}

.data-list-item.list-group-item {
  background-color:var(--website-bg-light);
  text-align: left;
  padding-left: 50px;
  color: var(--website-text-normal);
  border: none;
}

.data-list-item.list-group-item:hover {
  background-color:var(--website-bg-normal);
  border: none;
}

.manual-list-item.list-group-item {
  background-color:var(--website-bg-light);
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  color: var(--website-text-normal);
  border: none;
}

.manual-list-item.list-group-item:hover {
  /* background-color:var(--website-bg-normal); */
  border: none;
}

.chart-div {
  padding-left: 12px;
  padding-right: 20px;
  color: var(--website-text-normal);
  background-color:var(--website-bg-light);
}


#chart_interval {
  border: none;
  background-color: var(--website-bg-lighter);
  color: var(--website-text-normal);
  box-shadow: none;
}

#current-conditions-selector {
  text-align: center;
}

.schedule-card {
  background-Color:var(--website-bg-light);
}

.scheduleTable {
  color: var(--website-text-normal);
  background-Color:var(--website-bg-light);
}

.scheduleTableHeader {
    background-color:var(--website-bg-lighter);
    border-bottom: 1px solid var(--website-text-light);
}

.scheduleTableRow:hover {
  background-color:var(--website-bg-normal);
  color: var(--website-text-normal);
}

#addEventButton {
  background-color: var(--website-bg-lighter);
  color: var(--website-text-normal);
  box-shadow: none;
}

#addEventButton:hover {
  background-color: var(--website-bg-light);
  color: var(--website-text-dark);
}

.modal-content .modalStyle {
  color: var(--website-text-normal);
  background-color: var(--website-bg-normal);
  border-bottom: 0 none;
  border-top: 0 none;
  text-align: left;
}

.modal-body.modalStyle {
  border: rounded;
}

#modalXButton {
  color: var(--website-text-normal);
  opacity: 100%;
  text-shadow: none;
  box-shadow: none;
}

#modalRemoveScheduleXButton {
  color: var(--website-text-normal);
  opacity: 100%;
  text-shadow: none;
  box-shadow: none;
}

#modalSubmitButton {
  background-color: var(--website-bg-lighter);
  color: var(--website-text-normal);
  box-shadow: none;
}

#modalCloseButton {
  background-color: var(--website-bg-lighter);
  color: var(--website-text-normal);
  box-shadow: none;
}

.modal-body.modalStyle .submitButton {
  background-color: var(--website-bg-lighter);
  color: var(--website-text-normal);
  box-shadow: none;
}

#ManualSubmitButton,
#LoginSubmitButton,
#OutputTypeNewButton,
#OutputTypeUpdateButton,
#OutputTypeDeleteButton ,
#OutputNewButton,
#OutputUpdateButton,
#OutputDeleteButton,
#SensorNewButton,
#SensorUpdateButton,
#SensorDeleteButton,
#RestartButton,
#AddUserSubmitButton {
  background-color: var(--website-bg-lighter);
  color: var(--website-text-normal);
  box-shadow: none;
}

.modal-body.modalStyle .formStyle {
  border: none;
  background-color: var(--website-bg-lighter);
  color: var(--website-text-normal);
  box-shadow: none;
}

.form-control.formStyle {
  border: none;
  background-color: var(--website-bg-lighter);
  color: var(--website-text-normal);
  box-shadow: none;
}

#accordion .card{
  background-color: var(--website-bg-lighter);
  color: var(--website-text-normal);
}

#accordion .card .card-header{
  cursor: pointer;
}

#accordion .card .card-body{
  background-color: var(--website-bg-light);
}

.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active {
   color: var(--website-text-dark);
   background: var(--website-bg-normal);
}

.bootstrap-datetimepicker-widget table,
.bootstrap-datetimepicker-widget table th,
.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table td span {
  color: var(--website-text-normal);
  border-color: var(--website-bg-lighter);
}

.bootstrap-datetimepicker-widget table span.fas {
  color: var(--website-text-dark);
}

.bootstrap-datetimepicker-widget table span.fas:hover,
.bootstrap-datetimepicker-widget table span.timepicker-minute:hover,
.bootstrap-datetimepicker-widget table span.timepicker-hour:hover,
.bootstrap-datetimepicker-widget table th.next:hover,
.bootstrap-datetimepicker-widget table th.prev:hover,
.bootstrap-datetimepicker-widget table th.picker-switch:hover,
.bootstrap-datetimepicker-widget table td.day:hover {
  color: var(--website-text-dark) !important;
  background: var(--website-bg-normal) !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:before,
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after,
.bootstrap-datetimepicker-widget.dropdown-menu.top:after,
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: var(--website-text-blue);
  border-top-color: var(--website-text-blue);
}

.bootstrap-datetimepicker-widget table td.today:before {
  border-bottom-color: var(--website-text-blue);
}

.bootstrap-datetimepicker-widget table td.active.today:before {
  border-bottom-color: var(--website-text-green);
}

.bootstrap-datetimepicker-widget {
  background: var(--website-bg-lighter);
}

.bootstrap-datetimepicker-widget table button {
  color: var(--website-text-dark);
  background: var(--website-bg-light);
  border-color: var(--website-bg-light);
}

.bootstrap-datetimepicker-widget table button:hover {
  color: var(--website-text-dark);
  background: var(--website-bg-normal);
  border-color: var(--website-bg-normal);
}

.sensor-data {
  color: var(--website-text-green);
}

.error-messages {
  color: var(--website-text-normal);
  text-align: center;
}

.website-link {
  color: var(--website-text-light);
}
.website-link:hover {
  color: var(--website-text-dark);
}

hr {
  border: 1px solid var(--website-text-light);
}

body {
  background-color: var(--website-bg-normal);
  color: var(--website-text-normal);
}

pre {
    text-align: justify;
    background-color: var(--website-bg-normal);
    color: var(--website-text-normal);
}
