:root {
  --website-bg-normal: hsl(222, 11%, 18%);
  --website-bg-almost-light: hsl(222, 11%, 23%);
  --website-bg-light: hsl(222, 11%, 24%);
  --website-bg-lighter: hsl(222, 11%, 28%);
  --website-text-normal: hsl(0, 58%, 55%);
  --website-text-light: hsl(0, 19%, 58%);
  --website-text-dark: hsl(0, 58%, 45%);
  --website-text-green: hsl(125, 40%, 45%);
  --website-text-blue: hsl(210, 58%, 50%);
}

.nav-pill {
  color: var(--website-text-dark);
  background-color: var(--website-bg-almost-light);
}

.nav-pill:hover {
  color: var(--website-text-dark);
  background-color: var(--website-bg-lighter);
}

.nav-container .nav-pill.active {
  color: var(--website-text-normal);
  background-color: var(--website-bg-lighter);
}

#body {
  text-align: center;
    padding: 20px;
}

#data-list {
  color: var(--website-text-normal);
}
#data-list-header {
  background-color:var(--website-bg-lighter);
  text-align: center;
}

#data-list-group {
  background-color:var(--website-bg-light);
  text-align: left;
  color: var(--website-text-normal);
  font-weight: bold;
  text-decoration: underline;
}
#data-list-group:hover {
  background-color:var(--website-bg-normal);
}

#data-list-item {
  background-color:var(--website-bg-light);
  text-align: left;
  padding-left: 50px;
  color: var(--website-text-normal);
}
#data-list-item:hover {
  background-color:var(--website-bg-normal);
}

#chart-container {

}
#chart-div {

}


.scheduleContainer {
}

.scheduleTable {
  color: var(--website-text-normal);
  background-Color:var(--website-bg-light);
}

.scheduleTableHeader {
    background-color:var(--website-bg-lighter);
    border-bottom: 1px solid var(--website-text-light);
}
.scheduleTableBody {
}
.scheduleTableRow {
}
.scheduleTableRow:hover {
  background-color:var(--website-bg-normal);
  color: var(--website-text-normal);
}

#addEventButton {
  background-color: var(--website-bg-lighter);
  color: var(--website-text-normal);
}

.modal-content .modalStyle {
  color: var(--website-text-normal);
  background-color: var(--website-bg-normal);
  border-bottom: 0 none;
  border-top: 0 none;
  text-align: left;
}

#modalXButton {
  color: var(--website-text-normal);
  opacity: 100%;
  text-shadow: none;
}
#modalSubmitButton {
  background-color: var(--website-bg-lighter);
  color: var(--website-text-normal);
}
#modalCloseButton {
  background-color: var(--website-bg-lighter);
  color: var(--website-text-normal);
}

.green {
  color: var(--website-text-green);
}
.blue {
  color: var(--website-text-blue);
}

.sensor-data {
  color:var(--website-text-green);
}

.error-messages {
  color: var(--website-text-normal);
  text-align: center;
}

.footer-link {
  color: var(--website-text-light);
}

hr {
  border: 1px solid var(--website-text-light);
}

body {
  background-color: var(--website-bg-normal);
  color: var(--website-text-normal);
}


pre {
    text-align: justify;
    background-color: var(--website-bg-normal);
    color: var(--website-text-normal);
}
