option(value="" selected) Add New...
each output, index in outputs
  option(value=output.outputName+"|"+output.outputDescription+"|"+output.outputOrder+"|"+output.outputTypeID+"|"+output.outputID) #{output.outputName}
  