option(value="" selected) Add New...
each sensor, index in sensors
  option(value=sensor.sensorLocation+"|"+sensor.sensorModel+"|"+sensor.sensorType+"|"+sensor.sensorUnits+"|"+sensor.HardwareID+"|"+sensor.sensorProtocol+"|"+sensor.sensorAddress+"|"+sensor.sensorID) #{sensor.sensorType} @ #{sensor.sensorLocation}
  